.tables {
    background-color: rgb(235, 219, 221);
    border: 1px solid rgb(145, 143, 143);
    text-align: center;
    margin: auto;
    padding-top: 10px;
    width: 50%;
}

table {
    margin: 5px auto 5px auto;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(32, 30, 30);
}